@font-face {
  font-family: "Roboto";
  src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap') format('woff2');
}

$GrandBlue: #060ab2;
$weakBlue: #1c7ccc;
$patheticWhiteBlue: aqua;
$citronGreen: lime;
$love: deeppink;
$light:white;

// font
$primaryFont: "Roboto";
